<%- include("partials/header") %>

<h1><%= campground.name %></h1>

<img style="height: 400px; width: 400px;" src="<%= campground.image %>" alt="image">

<p><%= campground.description %></p>

<%- include("partials/footer") %>